In [1]:
import pandas as pd
import matplotlib as mpl
from matplotlib import pyplot as plt

In [98]:
# Load data

# bus
bus_df = pd.read_excel('bus_orig.xlsx', index_col=[0, 1], usecols='A:G, M', skiprows=9)
bus_df.iloc[:, :-1] = bus_df.iloc[:, :-1]/1000  # passengers in millions
bus_df.columns = [
    # passengers transported in millions
    'total_mil', 'scheduled_total_mil', 'scheduled_national_mil', 'scheduled_iternational_mil',
    'non-scheduled_mil',
    # average transport distance
    'average_dist_km'
]
bus_df = bus_df.iloc[8:87].rename(level=0, index={'2000 1)': '2000', '2021 2)': '2021'})
bus_df.index.names = ['Year', 'Quarter']

# rail
rail_df = pd.read_excel('rail_orig.xlsx', index_col=[0, 1], usecols='A:C,E', skiprows=9)
rail_df.iloc[:, 0] = rail_df.iloc[:, 0]/1000  # passengers in millions
rail_df.columns = [
    # passengers transported in thousands
    'total_mil',
    # average transport distance
    'average_dist_km'
]
rail_df = rail_df.iloc[8:87].rename(level=0, index={'2021 1)': '2021'})
rail_df.index.names = ['Year', 'Quarter']

# airplane - only national transport companies
plane_df = pd.read_excel('plane_orig.xlsx', index_col=[0, 1], 
                         usecols='A:G, M', skiprows=7)
plane_df.columns = [
    # passengers transported in thousands
    'total', 'national', 'international', 'scheduled', 'non-scheduled',
    # average transport distance
    'average_dist_km-total_transports'
]
plane_df = plane_df.iloc[8:87,[5]].rename(level=0, index={'2021 2)': '2021'})
plane_df.index.names = ['Year', 'Quarter']

# airplane - Eurostat CZ
plane_eur_df = pd.read_excel('avia_paoc__custom_2012682_spreadsheet.xlsx',
                             sheet_name='all_sheets', index_col=0, header=0).T
plane_eur_df = plane_eur_df.iloc[4:87]/1e6
plane_eur_df.columns.name = ''
plane_eur_df.columns = [i + '_mil' for i in plane_eur_df.columns]

dflist = [bus_df, rail_df, plane_df, plane_eur_df]

In [99]:
# set new index as DatetimeIndex
new_index = pd.date_range(start='2002-01-01', end='2021-09-30', freq='Q')
for i in dflist:
    i.index = new_index
    i.index.name = 'Date'

In [102]:
# show data
for i, name in zip(dflist, ['bus_df', 'rail_df', 'plane_df', 'plane_eur_df']):
    print(name + ':')
    display(round(i.iloc[[0,1,-2,-1]],2))

bus_df:

,total_mil,scheduled_total_mil,scheduled_national_mil,scheduled_iternational_mil,non-scheduled_mil,average_dist_km
Date,,,,,,
2002-03-31,109.49,106.35,106.14,0.21,3.14,20.49
2002-06-30,98.66,95.47,95.25,0.22,3.19,22.80
2021-06-30,59.44,55.45,55.35,0.10,4.00,21.89
2021-09-30,69.64,64.07,63.54,0.53,5.57,22.44

rail_df:

            total_mil average_dist_km
Date
2002-03-31      49.89       34.089097
2002-06-30      42.33       38.750001
2021-06-30      32.51       45.776176
2021-09-30      38.82       61.336515

plane_df:

            average_dist_km-total_transports
Date
2002-03-31                           1542.52
2002-06-30                           1617.59
2021-06-30                           2081.78
2021-09-30                           1834.47

plane_eur_df:

,Total-total_mil,Total-scheduled_mil,Total-non-scheduled_mil,National-total_mil,National-scheduled_mil,National-non-scheduled_mil,Iternational-total_mil,Iternational-scheduled_mil,Iternational-non-scheduled_mil
Date,,,,,,,,,
2002-03-31,1.19,1.02,0.17,0.03,0.02,0.00,1.16,1.00,0.16
2002-06-30,1.80,1.40,0.41,0.04,0.03,0.01,1.76,1.37,0.39
2021-06-30,0.57,0.51,0.07,0.00,0.00,0.00,0.57,0.51,0.07
2021-09-30,2.21,1.94,0.28,0.00,0.00,0.00,2.21,1.94,0.27

In [4]:
mpl.rc('figure', figsize=(12,6))
mpl.rc('axes', labelsize=16, titlesize=20)
mpl.rc('lines', linewidth=2)
mpl.rc('legend', fontsize=14, title_fontsize=14)
common_line_kwargs = {'grid': True}